@model _20mvc.Models.TBLFood
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>update</title>
</head>
<body>
    @using (Html.BeginForm("updatedata", "Food", FormMethod.Post))
    {
        <h3 class="my-4 text-center">Update The Data</h3>
        <div class="text-center mx-3 my-3">
            <div class="my-4"> @Html.HiddenFor(a => a.Id) </div>
            <label>Enter Dish Name</label>
            @Html.TextBoxFor(a => a.DishName)
            <br />
            <label>Enter Cuisine</label>
            @Html.TextBoxFor(a => a.Cuisine)
            <br />
            <label>Enter Price</label>
            @Html.TextBoxFor(a => a.Price)
            <br />
            <label>Enter Discount</label>
            @Html.TextBoxFor(a => a.Discount)
            <br />
            <input class="btn" type="submit" value="Update" />
        </div>
    }
</body>
</html>
